<div class="zapatos">
    <h1 class="mt-5">
        Catálogo de Zapatos Farga
    </h1>
    <div class="flex align-middle">
        <div class="bg-slate-50 rounded-xl p-10">
            <h3 class="m-10">Farga POP EXTREME Blancas 43</h3>
            <p>Referencia: ABC12345678</p>
            <p>Descripción: Épicos zapatos color blanco nube. Calidad premium 4k</p>
            <p>Precio: 150 euros</p>
            <p>Talla: 43</p>
            <p>Categoría: Deportivas</p>
        </div>
        <div class="bg-slate-50 rounded-xl p-10">
            <h3 class="m-10">Farga HIP ROUND Rojas 41</h3>
            <p>Referencia: ABC12345678</p>
            <p>Descripción: Espectaculares zapatos color rojo fuego. Calidad semipremium 2k</p>
            <p>Precio: 100 euros</p>
            <p>Talla: 41</p>
            <p>Categoría: Deportivas</p>
        </div>
        
    </div>
</div>