.footer {
    text-align: center;
    border-bottom: none;
    padding: 5px 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.3s ease, background-color 0.3s ease;

    background-color: #cf1111;
    color: white;
}

.footer:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}