body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Para centrar verticalmente */
    margin: 0;
}

.navbar {
    display: flex;
    flex-direction: column;
    color: white;
}

.ciudades ul {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Para centrar horizontalmente */
    padding: 4px;
    margin: 0;
    background-color: #cf1111;
}

.ciudades ul li {
    list-style: none;
    margin-right: 20px;
}

.ciudades ul li a {
    text-decoration: none; /* Quitar subrayado */
    color: inherit; /* Utilizar el color heredado del texto */
    padding: 8px 16px; /* Agregar relleno para un aspecto de botón */
    border: 1px solid #cf1111; /* Agregar un borde */
    background-color: transparent; /* Hacer el fondo transparente */
    border-radius: 4px; /* Agregar bordes redondeados */
    display: inline-block; /* Hacer que el enlace tenga un tamaño definido */
    width: auto; /* Opcional: permite que el ancho se ajuste al contenido */
    height: auto; /* Opcional: permite que la altura se ajuste al contenido */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Agregar transición suave */
    
}

.ciudades ul li a:hover {
    background-color: white; /* Cambiar el color de fondo al pasar el ratón */
    color: #cf1111;
    transform: scale(1.3);
    border: 1px solid #333;; /* Agregar un borde */
}

